:root{
    --verde-escuro: #556b2f;
    --verde-claro: #f4f7c5;
    --branco: #ffffff;
    --verde-oliva: #6b8e23;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--verde-claro); 
    color: var(--verde-escuro);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--verde-oliva); 
    color: var(--branco);
}

.header img {
    width: 80px;
    height: 80px;
    background-color: var(--verde-escuro);
}

.site-title{
    cursor: pointer;
}

.header .navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navigation button {
    background: var(--verde-escuro);
    border: 2px solid var(--verde-oliva);
    color: var(--branco);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 0 10px;
    transition: all 0.5s;
}

.navigation button:hover {
    background: var(--verde-oliva);
    color: var(--verde-escuro);
}

.navigation button:active {
    background: var(--verde-claro);
    color: var(--verde-escuro);
    border-color: var(--verde-escuro);
}

.content {
    margin: 20px;
    background-color:var(--branco); 
    padding: 20px;
    color: var(--verde-escuro); 
}

.content p {
    text-align: justify;
}

#home {
    padding: 20px;
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: var(--verde-oliva); 
    color: var(--branco); 
}
